/* Styles de la Navbar */
.navbar {
  background: #121212;
    color: aliceblue;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
  }
  
  .navbar-logo-link {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: auto;
    height: 50px;
  }
  
  .navbar-right {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-item {
    margin: 0 1rem;
  }
  
  .navbar-item a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.3em;
  }
  
  /* Styles du Hero Banner */
  .herroBanner {

    color: aliceblue;
    height: 100%;
  }
  
  .herro {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
  }
  
  .herro-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    width: 600px;
    margin-top: -150px;
  }
  
  #hello {
    color: #F2C1B6;
    font-size: 1.5em;
  }
  
  #herro-name {
    font-size: 4em;
  }
  
  #herro-logo {
    width: 680px;
    height: 450px;
    margin: 40px;
  }
  
  #herro-desc {
    margin-top: 20px;
  }
  
  /* Styles des boutons */
  .button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
    margin-top: 20px;
  }
  
  #herro-button1 {
    display: flex;
    color: #1e1f24;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: #F2C1B6;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    font-weight: 700;
  }
  
  #herro-button2 {
    display: flex;
    color: aliceblue;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #F2C1B6;
    border-style: solid;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, 
                rgba(255, 255, 255, 0.12) 0px -12px 30px, 
                rgba(255, 255, 255, 0.12) 0px 4px 6px, 
                rgba(255, 255, 255, 0.17) 0px 12px 13px, 
                rgba(255, 255, 255, 0.09) 0px -3px 5px;
    font-weight: 300;
  }

#DownloadButton{
    margin-top: 20px;
  }
  
  strong {
    color: #F2C1B6;
  }

#ScrollButton{
    width: 35vw;
    display: flex;
    justify-content: right;
  }
  @media (max-width: 1000px) {
    .navbar-container {
      flex-direction: column;
      padding: 1rem;
    }
    .navbar-right2{
      display: none;
    }
    
    .navbar {
      height: auto;
      position: fixed;

    }
    
    .navbar-logo {
      height: 40px;
      margin-bottom: 1rem;
    }
    
    .navbar-right {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .navbar-item {
      margin: 0.5rem;
    }
  
    .herro {
      margin-top: 200px;
      flex-direction: column;
      justify-content: center;
    }
  
    .herro-description {
      font-size: 0.60em;
      align-items: center;
      padding: 50px;
      margin-right: 100px;
    }
  
    #hello {
      font-size: 2em;
    }
    #herro-name{
      font-size: 4em;
    }
  
    #herro-desc {
      font-size: 1.5em;
    }
    #herro-logo{
      margin-top: 30px;
      margin-left: 80px;
    }
    #ScrollButton{
      display: none;
    }
  }