.Pages{

    margin-top: 100px;
    padding-left: 30px;
    text-align: center;

}
.Pages-top{
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-top: 20px;


}
.pages-info{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Pages img{
    width: 60%;
    border-radius: 10px;
}
.Pages #Slide{
    width: 750px;
}
.pages-info-prc{
    margin-top: px;
    text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.5);
}
.projects-nom{
    margin-bottom:20px ;
    font-size: 2em;
    font-weight: 1000;
}
.projects-techno{
    font-size: 0.9em;
    font-weight: 400;
}
.projects-desc{
    text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.5);
    width: 90%;
    margin-top: 100px;
}
.pages-techo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pages-techo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.pages-techo img {
    width: 100px;
    height: auto;
    margin-bottom: 5px;
}
.Pages h1{
    margin-top: 20px;
    font-size: 4em;
}
#GithubLink{
    display: flex;
    color: aliceblue;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #F2C1B6;
    border-style: solid;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
@media (max-width: 1000px) {
    .Pages-top{
        margin: auto;
        padding: auto;
        flex-direction: column;
        align-items: center;
    }
    .projects-nom{
        margin-top: 20px;
    }
    #GithubLink{
        margin-top: 20px;
    }
    .Pages #Slide{
        width: 400px;
    }

}